<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Jh\Import\AttributeProcessor\AttributeProcessor">-->
        <!--<arguments>-->
            <!--<argument name="attributeProcessors" xsi:type="array">-->
                <!--<item name="brand" xsi:type="object">Jh\Import\AttributeProcessor\Brand</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <virtualType name="jh_import_reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Jh\Import\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Jh\Import\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">imports.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/db" xsi:type="string">name</item>
                <item name="/config/files" xsi:type="string">name</item>
                <item name="/config/webapi" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Jh\Import\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">jh_import_reader</argument>
            <argument name="cacheId" xsi:type="string">jh_import_config_cache</argument>
        </arguments>
    </type>
    <preference for="Symfony\Component\Console\Output\OutputInterface" type="Symfony\Component\Console\Output\ConsoleOutput" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_list" xsi:type="object">Jh\Import\Command\ListImportsCommand</item>
                <item name="import_run" xsi:type="object">Jh\Import\Command\RunImportCommand</item>
                <item name="import_view_log" xsi:type="object">Jh\Import\Command\ViewLogsCommand</item>
                <item name="import_unlock" xsi:type="object">Jh\Import\Command\UnlockImportCommand</item>
                <item name="import_locks" xsi:type="object">Jh\Import\Command\ViewLocksCommand</item>
                <item name="import_clear_last_log" xsi:type="object">Jh\Import\Command\ClearLastImportLogCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Jh\Import\Command\ClearLastImportLogCommand">
        <arguments>
            <argument name="resourceConnection" xsi:type="object">Magento\Framework\App\ResourceConnection\Proxy</argument>
        </arguments>
    </type>
    <type name="Jh\Import\Command\ListImportsCommand">
        <arguments>
            <argument name="cronConfig" xsi:type="object">Magento\Cron\Model\Config\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Event\Config">
        <plugin name="jh_import_event_observer_disable" type="Jh\Import\Writer\Utils\DisableEventObserver"/>
    </type>

    <!-- reporting -->
    <preference for="Jh\Import\Report\Handler\Email\Strategy\EmailHandlerStrategy" type="Jh\Import\Report\Handler\Email\Strategy\FingersCrossedMax" />

    <!-- admin area -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="import_history_listing_data_source" xsi:type="string">import_history_grid_collection</item>
                <item name="import_history_log_listing_data_source" xsi:type="string">import_history_log_grid_collection</item>
                <item name="import_history_item_log_listing_data_source" xsi:type="string">import_history_item_log_grid_collection</item>
                <item name="import_listing_data_source" xsi:type="string">import_listing</item>
            </argument>
        </arguments>
    </type>


    <virtualType name="import_listing" type="Jh\Import\Ui\Component\Listing\ImportSearchResult">
    </virtualType>

    <virtualType name="import_history_grid_collection" type="\Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jh_import_history</argument>
            <argument name="resourceModel" xsi:type="string">Jh\Import\Entity\ImportHistoryResource</argument>
        </arguments>
    </virtualType>
    <virtualType name="import_history_log_grid_collection" type="\Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jh_import_history_log</argument>
            <argument name="resourceModel" xsi:type="string">Jh\Import\Entity\ImportHistoryLogResource</argument>
        </arguments>
    </virtualType>
    <virtualType name="import_history_item_log_grid_collection" type="\Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jh_import_history_item_log</argument>
            <argument name="resourceModel" xsi:type="string">Jh\Import\Entity\ImportHistoryItemLogResource</argument>
        </arguments>
    </virtualType>


    <!-- Logger section -->
    <virtualType name="Jh\Import\Logger\AllSeverityHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/data-migration.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Jh\Import\Logger\ImportLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Jh\Import\Logger\AllSeverityHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- End of Logger section -->

    <!-- Constructor arguments section -->
    <type name="Jh\Import\Progress\CliProgress">
        <arguments>
            <argument name="logger" xsi:type="object">Jh\Import\Logger\ImportLogger</argument>
        </arguments>
    </type>

    <type name="Jh\Import\Source\Webapi">
        <arguments>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
        </arguments>
    </type>
    <!-- End of constructor arguments section -->
</config>
