<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Fps\Import\AttributeProcessor\AttributeProcessor">-->
        <!--<arguments>-->
            <!--<argument name="attributeProcessors" xsi:type="array">-->
                <!--<item name="brand" xsi:type="object">Fps\Import\AttributeProcessor\Brand</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <virtualType name="jh_import_reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Fps\Import\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Fps\Import\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">imports.xml</argument>
        </arguments>
    </virtualType>
    <type name="Jh\Import\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">jh_import_reader</argument>
            <argument name="cacheId" xsi:type="string">jh_import_config_cache</argument>
        </arguments>
    </type>
    <virtualType name="jh_console_output" type="Symfony\Component\Console\Output\ConsoleOutput">
    </virtualType>
    <type name="Jh\Import\Progress\CliProgress">
        <arguments>
            <argument name="output" xsi:type="object">jh_console_output</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_run" xsi:type="object">Jh\Import\Command\RunImportCommand</item>
            </argument>
        </arguments>
    </type>
</config>